*
{
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}
body
{
  margin: 0px;
  background: linear-gradient(to right,#99f5e0, #0d50a9);
}
.Modules
{
  padding: 0px 15px;
  margin: 0px auto;
}
/*----------------------------NAVIGATION--------------------------------------------*/
.Modules .Navigation
{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.Modules .Navigation img.Logo
{
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.Modules .Navigation img.User
{
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.Modules .Navigation div .material-icons-outlined
{
  margin-left: 5px;
  margin-right: 5px;
  font-size: 30px;
  color: black;
}

/*----------------------------MAIN--------------------------------------------*/

.Modules .Main .Title
{
  position: relative;
  margin-top: 50px;
}

.Modules .Main .Title h1
{
  font-size: 35px;
}

.Modules .Main .Module
{
  margin-top: 50px;
  height: 250px;
  margin-right: 50px;
  width: 350px;
}

.Modules .Main .Module h2
{
  font-size: 20px;
  line-height: 0px;
  align-items: center;
}

.Modules .Main .Module p
{
  color: #727272;
}

.Modules .Main .Module ul
{
  list-style: none;
  position: relative;
  margin-left: 0px;
  padding-left: 0px;
}

.Modules .Main .Module ul li
{
  position: relative;
  color: #727272;
  margin-left: 15px;
}

.Modules .Main .Module .meta
{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 100px;
}

.Modules .Main .Module
{
  padding: 20px 20px 20px 60px;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 0 0 4px #000, inset -4px -4px 0 6px #CCC;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
}
.Modules .Main .Module .Category
{
  width: 30px;
  height: 50px;
  border-radius: 0px 10px 10px 0px;
  position: absolute;
  left: 0px;
}

.Modules .Main .Module:hover,
.Modules .Main .Module:hover h3,
.Modules .Main .Module:hover p,
.Modules .Main .Module:hover ul li
{
  background-color: #f02262;
  text-decoration-color: #ffffff;
  transition: 0.5s;
  color: white;
  box-shadow: none;
  border-color: #f02262;
  transform-origin: 0 bottom 0;
  transform: scaleY(100%);
}

.Modules .Main a
{
  text-decoration-style: none;
  color: BLACK;
}

/*----------------------------MEDIA QUERY 1024px--------------------------------------------*/
@media only screen and (min-width: 1024px)
{
  .Modules .Navigation,
  .Modules .Navigation div span
  {
    display: block;
  }

  .Modules .Navigation
  {
    width: 60px;
    position: fixed;
    z-index: 10;
  }

  .Modules .Navigation div
  {
    margin-top: 18vh;
    margin-bottom: 18vh;
  }

  .Modules .Navigation div span
  {
    margin-top: 5vh;
  }
}

/*----------------------------MEDIA QUERY 1111px--------------------------------------------*/
@media only screen and (min-width: 1111px)
{
  section.Main .Module
  {
    width: 32%;
    display: inline-block;
  }

  section.Main
  {
    width: 85%;
    margin-left: 90px;
    margin-right: 20px;
    justify-content: space-between;
  }
}
